* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Hind", sans-serif;
}

.header {
  height: 52px;

  .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;

    .logo {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }
    }

    .menu-left {
      height: 100%;
      width: 840px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      nav {
        height: 31.2px;
        display: flex;
        align-items: center;

        ul {
          display: flex;
          list-style: none;
          justify-content: space-between;

          li {
            text-transform: uppercase;
            font-family: "Hind", sans-serif;
            font-size: 13px;
            font-weight: 300;
            padding: 14px 12px 18px 0px;
            cursor: pointer;
            position: relative;

            &:first-child {
              a {
                color: #2879fe;
              }
            }

            a {
              padding: 14px 10px 18px 0px;
              text-decoration: none;
              transition: all 0.2s linear;

              &:hover {
                color: #2879fe;
              }
            }

            &:hover {
              .dropdown {
                opacity: 1;
                visibility: visible;
                z-index: 2;
              }
            }

            .dropdown {
              overflow-y: scroll;
              opacity: 0;
              visibility: hidden;
              justify-content: center;
              align-items: center;
              height: 650px;
              width: 1200px;
              cursor: initial;
              background-color: white;
              box-shadow: 0 -1px 10px rgba($color: #000000, $alpha: 0.08);
              position: absolute;
              z-index: -1;
              top: 40px;
              left: -144px;
              padding: 30px 39px 30px 30px;
              transition: all 0.2s;

              .dropdown-products {
                display: flex;
                height: auto;
                cursor: initial;
                justify-content: space-between;

                .home-styles {
                  height: auto;

                  a {
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;
                    padding-bottom: 8px;
                    padding-top: 0;
                  }

                  ul {
                    display: flex;
                    flex-direction: column;

                    li {
                      padding: 13px 0px 0px 0px;
                      text-transform: capitalize;

                      a {
                        display: inline;
                        text-transform: capitalize;
                        font-weight: normal;
                        padding-bottom: 8px;

                        span {
                          color: #777777;

                          .hl-yello {
                            background-color: #fdbc20;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          .hl-blue {
                            background-color: #659ffc;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          &:hover {
                            color: #2879fe;
                          }
                        }
                      }
                    }
                  }
                }

                .skins {
                  height: auto;

                  a {
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;
                    padding-bottom: 8px;
                    padding-top: 0;
                  }

                  ul {
                    display: flex;
                    flex-direction: column;

                    li {
                      padding: 13px 0px 0px 0px;
                      text-transform: capitalize;

                      a {
                        display: inline;
                        text-transform: capitalize;
                        font-weight: normal;
                        padding-bottom: 8px;

                        span {
                          color: #777777;

                          .hl-yello {
                            background-color: #fdbc20;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          .hl-blue {
                            background-color: #659ffc;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          &:hover {
                            color: #2879fe;
                          }
                        }
                      }
                    }
                  }
                }

                .new-skins {
                  height: auto;

                  a {
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;
                    padding-bottom: 8px;
                    padding-top: 0;
                  }

                  ul {
                    display: flex;
                    flex-direction: column;

                    li {
                      padding: 13px 0px 0px 0px;
                      text-transform: capitalize;

                      a {
                        display: inline;
                        text-transform: capitalize;
                        font-weight: normal;
                        padding-bottom: 8px;

                        span {
                          color: #777777;

                          .hl-yello {
                            background-color: #fdbc20;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          .hl-blue {
                            background-color: #659ffc;
                            border-radius: 4px;
                            padding: 4px 4px 2px 4px;
                            color: white;
                          }

                          &:hover {
                            color: #2879fe;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .dropdown-ads {
                height: 50%;
              }
            }
          }
        }
      }
    }

    .menu-right {
      height: 100%;
      display: flex;
      align-items: center;

      nav {
        height: 40px;
        display: flex;
        align-items: center;

        ul {
          display: flex;
          list-style: none;
          justify-content: space-between;

          li {
            padding: 18px 0;

            &:hover {
              .icon-drop {
                .drop {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

            .icon-drop {
              position: relative;
              .icon {
                text-decoration: none;
                padding: 28px 12px 15px;
                font-size: 16px;
              }

              .drop {
                position: absolute;
                text-transform: capitalize;
                transition: 0.5s;
                opacity: 0;
                visibility: hidden;
                border-radius: 4px;
                background-color: white;
                z-index: 1;

                p {
                  white-space: nowrap;
                  padding: 5px 5px;
                  position: relative;

                  &::before,
                  &::after {
                    content: "";
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    left: 42%;
                    top: -5px;
                    transform: rotate(45deg);
                    background-color: white;
                    z-index: -2;
                  }

                  &::after {
                    background-color: white;
                    z-index: 2;
                    left: 40%;
                    top: 0;
                    height: 10px;
                    width: 15px;
                    transform: rotate(0deg);
                  }
                }
              }
            }

            .icon-drop1 {
              .drop {
                bottom: -48px;
                left: -6px;
              }
            }

            .icon-drop2 {
              .drop {
                bottom: -48px;

                left: 0;
              }
            }

            .icon-drop3 {
              .drop {
                bottom: -48px;
                left: -23px;
              }
            }

            .icon-drop4 {
              .drop {
                bottom: -48px;
                left: -10px;
              }
            }
          }
        }
      }
    }
  }
}

.slider {
  height: 670px;
  position: relative;
  overflow-x: hidden;

  .slider-image {
    height: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
      visibility: hidden;

      .video-container {
        height: 100%;
        position: relative;
        padding-top: 56.25%;

        .video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }

      .middle-content {
        position: absolute;
        top: 169px;
        left: 533px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;

        .first {
          font-size: 36px;
          text-transform: capitalize;
        }

        .second {
          margin-top: -30px;
          text-transform: capitalize;
          font-size: 70px;
          text-align: center;
        }

        .third {
          margin-top: -25px;
          font-size: 16px;
        }

        .forth {
          margin-top: 10px;
          a {
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            outline: none;
            padding: 20px 50px;
            color: white;
            background: rgb(40, 121, 254);
            border-radius: 6px;
            text-decoration: none;

            &:hover {
              background-color: rgb(34, 103, 216);
            }
          }
        }
      }

      .middle-content1 {
        width: 454px;
        height: 332px;
      }

      .middle-content2 {
        width: 454px;
        height: 332px;
      }

      .middle-content3 {
        width: 627px;
        height: 332px;
        left: 460px;
      }
    }

    .active {
      opacity: 1;
      visibility: visible;
    }

    .x-to-left {
      animation: x-to-left 1s forwards;
    }

    .left-to-x {
      animation: left-to-x 1s forwards;
    }

    .x-to-right {
      animation: x-to-right 1s forwards;
    }

    .right-to-x {
      animation: right-to-x 1s forwards;
    }
  }

  span {
    opacity: 0.4;
    font-size: 30px;
    position: absolute;

    i {
      transition: 0.5s;
    }
  }

  #btn-prev {
    top: 50%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
  }

  #btn-next {
    top: 50%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
  }

  ul {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.2);
      list-style: none;
      cursor: pointer;
      transition: 0.6s;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

@keyframes x-to-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes left-to-x {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes x-to-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes right-to-x {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.body-content-container {
  margin: 0 20px;

  .demo1 {
    margin-top: 20px;

    .demo1-container {
      display: flex;
      justify-content: space-between;

      .item {
        flex-basis: calc(98.64791779% / 2);
      }

      .left {
        height: 620px;
        display: flex;
        justify-content: space-between;

        .iteml {
          flex-basis: calc(97.25877193% / 2);
        }

        .left-1 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .iteml1 {
            height: 300px;
          }
        }
      }

      .right {
        height: 620px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .itemr {
          height: 300px;
        }

        .right-top {
          display: flex;
          justify-content: space-between;

          .itemrt {
            flex-basis: calc(97.25877193% / 2);
          }
        }
      }
    }
  }

  .demo2 {
    margin: 20px 0;

    .demo2-container {
      display: flex;
      justify-content: space-between;

      .image {
        flex-basis: calc(97.29583559% / 3);
        height: 410px;
        position: relative;
        overflow: hidden;

        a {
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .info {
          .content-infor {
            .content {
              transform: scale(1.1);
            }
          }
        }

        img {
          transition: all 0.6s linear;
        }

        .info {
          cursor: pointer;
          border-radius: 8px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .content-infor {
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
              width: 230px;
              height: 113px;
              background-color: white;
              transition: all 0.4s linear;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .ifn {
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;

                span {
                  color: blue;
                }
              }

              .ifn2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 26px;

                span {
                  color: blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
