* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: "Hind", sans-serif;
}

.header {
  height: 52px;
}

.header .header-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 160px;
  padding-right: 160px;
}

.header .header-container .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .logo a {
  text-decoration: none;
}

.header .header-container .menu-left {
  height: 100%;
  width: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .header-container .menu-left nav {
  height: 31.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .menu-left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .menu-left nav ul li {
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding: 14px 12px 18px 0px;
  cursor: pointer;
  position: relative;
}

.header .header-container .menu-left nav ul li:first-child a {
  color: #2879fe;
}

.header .header-container .menu-left nav ul li a {
  padding: 14px 10px 18px 0px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header .header-container .menu-left nav ul li a:hover {
  color: #2879fe;
}

.header .header-container .menu-left nav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.header .header-container .menu-left nav ul li .dropdown {
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  width: 1200px;
  cursor: initial;
  background-color: white;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: -1;
  top: 40px;
  left: -144px;
  padding: 30px 39px 30px 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  cursor: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles {
  height: auto;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
  padding-top: 0;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li {
  padding: 13px 0px 0px 0px;
  text-transform: capitalize;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li a {
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 8px;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li a span {
  color: #777777;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li a span .hl-yello {
  background-color: #fdbc20;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li a span .hl-blue {
  background-color: #659ffc;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .home-styles ul li a span:hover {
  color: #2879fe;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins {
  height: auto;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
  padding-top: 0;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li {
  padding: 13px 0px 0px 0px;
  text-transform: capitalize;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li a {
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 8px;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li a span {
  color: #777777;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li a span .hl-yello {
  background-color: #fdbc20;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li a span .hl-blue {
  background-color: #659ffc;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .skins ul li a span:hover {
  color: #2879fe;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins {
  height: auto;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
  padding-top: 0;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li {
  padding: 13px 0px 0px 0px;
  text-transform: capitalize;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li a {
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 8px;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li a span {
  color: #777777;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li a span .hl-yello {
  background-color: #fdbc20;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li a span .hl-blue {
  background-color: #659ffc;
  border-radius: 4px;
  padding: 4px 4px 2px 4px;
  color: white;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-products .new-skins ul li a span:hover {
  color: #2879fe;
}

.header .header-container .menu-left nav ul li .dropdown .dropdown-ads {
  height: 50%;
}

.header .header-container .menu-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .menu-right nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .menu-right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .menu-right nav ul li {
  padding: 18px 0;
}

.header .header-container .menu-right nav ul li:hover .icon-drop .drop {
  opacity: 1;
  visibility: visible;
}

.header .header-container .menu-right nav ul li .icon-drop {
  position: relative;
}

.header .header-container .menu-right nav ul li .icon-drop .icon {
  text-decoration: none;
  padding: 28px 12px 15px;
  font-size: 16px;
}

.header .header-container .menu-right nav ul li .icon-drop .drop {
  position: absolute;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
}

.header .header-container .menu-right nav ul li .icon-drop .drop p {
  white-space: nowrap;
  padding: 5px 5px;
  position: relative;
}

.header .header-container .menu-right nav ul li .icon-drop .drop p::before, .header .header-container .menu-right nav ul li .icon-drop .drop p::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 42%;
  top: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  z-index: -2;
}

.header .header-container .menu-right nav ul li .icon-drop .drop p::after {
  background-color: white;
  z-index: 2;
  left: 40%;
  top: 0;
  height: 10px;
  width: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .header-container .menu-right nav ul li .icon-drop1 .drop {
  bottom: -48px;
  left: -6px;
}

.header .header-container .menu-right nav ul li .icon-drop2 .drop {
  bottom: -48px;
  left: 0;
}

.header .header-container .menu-right nav ul li .icon-drop3 .drop {
  bottom: -48px;
  left: -23px;
}

.header .header-container .menu-right nav ul li .icon-drop4 .drop {
  bottom: -48px;
  left: -10px;
}

.slider {
  height: 670px;
  position: relative;
  overflow-x: hidden;
}

.slider .slider-image {
  height: 100%;
  overflow: hidden;
}

.slider .slider-image .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

.slider .slider-image .image .video-container {
  height: 100%;
  position: relative;
  padding-top: 56.25%;
}

.slider .slider-image .image .video-container .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.slider .slider-image .image .middle-content {
  position: absolute;
  top: 169px;
  left: 533px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slider-image .image .middle-content .first {
  font-size: 36px;
  text-transform: capitalize;
}

.slider .slider-image .image .middle-content .second {
  margin-top: -30px;
  text-transform: capitalize;
  font-size: 70px;
  text-align: center;
}

.slider .slider-image .image .middle-content .third {
  margin-top: -25px;
  font-size: 16px;
}

.slider .slider-image .image .middle-content .forth {
  margin-top: 10px;
}

.slider .slider-image .image .middle-content .forth a {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  outline: none;
  padding: 20px 50px;
  color: white;
  background: #2879fe;
  border-radius: 6px;
  text-decoration: none;
}

.slider .slider-image .image .middle-content .forth a:hover {
  background-color: #2267d8;
}

.slider .slider-image .image .middle-content1 {
  width: 454px;
  height: 332px;
}

.slider .slider-image .image .middle-content2 {
  width: 454px;
  height: 332px;
}

.slider .slider-image .image .middle-content3 {
  width: 627px;
  height: 332px;
  left: 460px;
}

.slider .slider-image .active {
  opacity: 1;
  visibility: visible;
}

.slider .slider-image .x-to-left {
  -webkit-animation: x-to-left 1s forwards;
          animation: x-to-left 1s forwards;
}

.slider .slider-image .left-to-x {
  -webkit-animation: left-to-x 1s forwards;
          animation: left-to-x 1s forwards;
}

.slider .slider-image .x-to-right {
  -webkit-animation: x-to-right 1s forwards;
          animation: x-to-right 1s forwards;
}

.slider .slider-image .right-to-x {
  -webkit-animation: right-to-x 1s forwards;
          animation: right-to-x 1s forwards;
}

.slider span {
  opacity: 0.4;
  font-size: 30px;
  position: absolute;
}

.slider span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider #btn-prev {
  top: 50%;
  left: 0%;
  z-index: 10;
  cursor: pointer;
}

.slider #btn-next {
  top: 50%;
  right: 0%;
  z-index: 10;
  cursor: pointer;
}

.slider ul {
  position: absolute;
  z-index: 10;
  width: 100px;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes x-to-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes x-to-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes left-to-x {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes left-to-x {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes x-to-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes x-to-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes right-to-x {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes right-to-x {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.body-content-container {
  margin: 0 20px;
}

.body-content-container .demo1 {
  margin-top: 20px;
}

.body-content-container .demo1 .demo1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo1 .demo1-container .item {
  -ms-flex-preferred-size: calc(98.64791779% / 2);
      flex-basis: calc(98.64791779% / 2);
}

.body-content-container .demo1 .demo1-container .left {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo1 .demo1-container .left .iteml {
  -ms-flex-preferred-size: calc(97.25877193% / 2);
      flex-basis: calc(97.25877193% / 2);
}

.body-content-container .demo1 .demo1-container .left .left-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo1 .demo1-container .left .left-1 .iteml1 {
  height: 300px;
}

.body-content-container .demo1 .demo1-container .right {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo1 .demo1-container .right .itemr {
  height: 300px;
}

.body-content-container .demo1 .demo1-container .right .right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo1 .demo1-container .right .right-top .itemrt {
  -ms-flex-preferred-size: calc(97.25877193% / 2);
      flex-basis: calc(97.25877193% / 2);
}

.body-content-container .demo2 {
  margin: 20px 0;
}

.body-content-container .demo2 .demo2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content-container .demo2 .demo2-container .image {
  -ms-flex-preferred-size: calc(97.29583559% / 3);
      flex-basis: calc(97.29583559% / 3);
  height: 410px;
  position: relative;
  overflow: hidden;
}

.body-content-container .demo2 .demo2-container .image a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-content-container .demo2 .demo2-container .image a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.body-content-container .demo2 .demo2-container .image img {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.body-content-container .demo2 .demo2-container .image .info {
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content {
  width: 230px;
  height: 113px;
  background-color: white;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content .ifn {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content .ifn span {
  color: blue;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content .ifn2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.body-content-container .demo2 .demo2-container .image .info .content-infor .content .ifn2 span {
  color: blue;
}
/*# sourceMappingURL=style.css.map */